<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>ssw.control.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <servlet-class>ssw.control.DeleteRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <url-pattern>/delete_recipe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientEditServlet</servlet-name>
        <servlet-class>ssw.control.ClientEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientEditServlet</servlet-name>
        <url-pattern>/edit_profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ssw.control.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>ssw.control.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifyRecipeServlet</servlet-name>
        <servlet-class>ssw.control.ModifyRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyRecipeServlet</servlet-name>
        <url-pattern>/modify_recipe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewRecipeServlet</servlet-name>
        <servlet-class>ssw.control.NewRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewRecipeServlet</servlet-name>
        <url-pattern>/newRecipe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RankingServlet</servlet-name>
        <servlet-class>ssw.control.RankingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RankingServlet</servlet-name>
        <url-pattern>/ranking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecipeInfoServlet</servlet-name>
        <servlet-class>ssw.control.RecipeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipeInfoServlet</servlet-name>
        <url-pattern>/recipeInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ssw.control.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveRecipeServlet</servlet-name>
        <servlet-class>ssw.control.SaveRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveRecipeServlet</servlet-name>
        <url-pattern>/save_recipe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchRecipeServlet</servlet-name>
        <servlet-class>ssw.control.SearchRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRecipeServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientProfileServlet</servlet-name>
        <servlet-class>ssw.control.ClientProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientProfileServlet</servlet-name>
        <url-pattern>/profile_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsRecipeSavedServlet</servlet-name>
        <servlet-class>ssw.control.IsRecipeSavedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsRecipeSavedServlet</servlet-name>
        <url-pattern>/is_saved</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsRecipeScoredServlet</servlet-name>
        <servlet-class>ssw.control.IsRecipeScoredServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsRecipeScoredServlet</servlet-name>
        <url-pattern>/is_scored</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RateRecipeServlet</servlet-name>
        <servlet-class>ssw.control.RateRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RateRecipeServlet</servlet-name>
        <url-pattern>/rate_recipe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImagesServlet</servlet-name>
        <servlet-class>ssw.control.ImagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagesServlet</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientImagesServlet</servlet-name>
        <servlet-class>ssw.control.ClientImagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientImagesServlet</servlet-name>
        <url-pattern>/client_image</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ranking</welcome-file>
    </welcome-file-list>
</web-app>
